.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h3 {
  color: rgb(12, 12, 109);
}
.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.top-right {
  position: absolute;
  top: 25px;
  right: 5px;
}

.form-div {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.form-container {
  margin-bottom: 20px;
}

.weather-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.weather-card {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.for {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  position: absolute;
  bottom: 23px;
  right: 0;
}
.abcd {
  display: flex;
}

.weather-card .card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(12, 12, 109);
}

.weather-card .card-subtitle {
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(12, 12, 109);
}

.weather-card .card-text {
  margin-bottom: 5px;
  color: rgb(12, 12, 109);
}

.weather-card .text-muted {
  color: #777;
}
.container Button {
  display: block;
  margin: 0 auto;
  background-color: rgb(12, 12, 109);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.container .text-center {
  padding: 20px;
}

.card {
  width: 250px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(12, 12, 109);
}
.card-header {
  color: rgb(12, 12, 109);
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
}

.card-header h5 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.weather-icon {
  width: 40px;
  height: 40px;
}

.card-body {
  padding: 20px;
}

.Card-Text {
  margin-bottom: 10px;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.ab {
  display: flex;
}
